<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Health Predictor</title>
    <link rel='stylesheet' href='https://rawcdn.githack.com/SochavaAG/example-mycode/master/_common/css/reset.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/home.css">
</head>

<body>
    <header class="header">
        <a href="#" class="logo">Health Predictor</a>
        <nav class="nav-items">
            <a href="/authentication"  id="mainbtn">Login/SignUp</a>
            <a href="#">Home</a>
            <a href="javascript: document.body.scrollIntoView(false);">Contact</a>
        </nav>
    </header>
    <main>
        <!-- <div class="intro">
            <h1>A Web Developer</h1>
            <p>I am a web developer and I love to create websites.</p>
            <button>Learn More</button>
        </div> -->
        <div class="about-me">
            <div class="about-me-text">
                <h2>Health Predictor uses AI to find the right treatment for every patient</h2>
                <p>Join our medical web platform and get access to accurate and timely prognoses for severe yet curable diseases and personalized health recommendations.</p>
            </div>
            <img src="hf1.png" alt="me">
        </div>
        <div id="med">
            HI , WE'RE MED
        </div>
        <div class="weare">
            We're all about real science , real data and machine learning that positively impact customers' lives .
        </div>
        <div class="achievements">
            <div class="work">
                <img src="div-3.png" alt="" srcset="">
                <p class="work-heading">Research</p>
                <p class="work-text">Tested through Breakthrough researches by top scientists.</p>
            </div>
            <div class="work">
                <img src="div-1.png" alt="" srcset="">
                <p class="work-heading">Protected</p>
                <p class="work-text">Patient's Data is stored secure and encrypted </p>
            </div>
            <div class="work">
                <img src="div-2.png" alt="heloooo" >
                <p class="work-heading">Data analysis</p>
                <p class="work-text">2+ million Data has been Analyzed .</p>
            </div>
            <div class="work">
                <img src="div.png" alt="" srcset="">
                <p class="work-heading">reports</p>
                <p class="work-text">Get personalized diet plan based on health conditions </p>
            </div>

        </div>
        <div class="ag-format-container">
            <div class="ag-courses_box">
                <div class="ag-courses_item">
                    <a href="/bloodreport" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Blood Report Analysis
                        </div>
        
                        <div class="ag-courses-item_date-box">
                            Start:
                            <span class="ag-courses-item_date">
                                04.11.2022
                            </span>
                        </div>
                    </a>
                </div>
        
                <div class="ag-courses_item">
                    <a href="/xrayreport" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            X-rays Report Analysis
                        </div>
        
                        <div class="ag-courses-item_date-box">
                            Start:
                            <span class="ag-courses-item_date">
                                04.11.2022
                            </span>
                        </div>
                    </a>
                </div>
        
                <div class="ag-courses_item">
                    <a href="/recoveryreport" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Recovery rate prediction
                        </div>
        
                        <div class="ag-courses-item_date-box">
                            Start:
                            <span class="ag-courses-item_date">
                                04.11.2022
                            </span>
                        </div>
                    </a>
                </div>
        
                <div class="ag-courses_item">
                    <a href="/communitypoll" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Community Support
                        </div>
        
                        <div class="ag-courses-item_date-box">
                            Start:
                            <span class="ag-courses-item_date">
                                04.11.2022
                            </span>
                        </div>
                    </a>
                </div>
        
                <!-- <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Motion Design
                        </div>
        
                        <div class="ag-courses-item_date-box">
                            Start:
                            <span class="ag-courses-item_date">
                                30.11.2022
                            </span>
                        </div>
                    </a>
                </div> -->
        
                <!-- <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Front-end development&#160;+ jQuery&#160;+ CMS
                        </div>
                    </a>
                </div> -->
        
                <!-- <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg">
                        </div>
                        <div class="ag-courses-item_title">
                            Digital Marketing
                        </div>
                    </a>
                </div> -->
        
                <!-- <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Interior Design
                        </div>
        
                        <div class="ag-courses-item_date-box">
                            Start:
                            <span class="ag-courses-item_date">
                                31.10.2022
                            </span>
                        </div>
                    </a>
                </div> -->
        
            </div>
        </div>
    </main>
    <!-- <div class="new">
        <figure>
            <img src="https://picsum.photos/id/287/250/300" alt="Mountains">
            <figcaption>The Day</figcaption>
        </figure>
        <figure style="--c:#fff5">
            <img src="https://picsum.photos/id/475/250/300" alt="Mountains">
            <figcaption>The Night</figcaption>
        </figure>
    </div> -->
    
    <footer class="footer">
        <div class="copy">&copy; Developed Under HackFest 23'</div>
        <div class="bottom-links">
            <div class="links">
                <span>Developer</span>
                <a href="#">Vibhanshu Sharma</a>
                <a href="#">Digvijay Anand</a>
                <a href="#">Krish Sahu</a>
                <a href="#">Dheemant Dixit</a>
                <a href="#">Himanshu Mittal</a>
            </div>
            <div class="links">
                <span>More Info</span>
                <a href="#">Home</a>
                <a href="javascript: document.body.scrollIntoView(false);">About</a>
                <a href="/authentication" onclick="hh()" id="maintn">LogIn/SignUp</a>
            </div>
            <div class="links">
                <span>Social Links</span>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>
    <script src="/defaut.js"></script>
    <script src="/asdf.js"></script>
</body>

</html>